# 后端运行端口
PORT=3006

# Gemini API Key (前端构建时需要)
API_KEY=your_google_gemini_key_here

# 数据库配置 (生产环境推荐使用，如果不填则使用 UI 配置生成的 json 文件)
DB_HOST=43.143.214.10
DB_PORT=3307
DB_USER=root
DB_PASSWORD=thmysql8test.
DB_NAME=taskall
